.experience-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #f9f9f9;
  }
  
  .experience-content {
    display: flex;
    max-width: 1200px;
    align-items: center;
  }
  
  .text-section {
    flex: 1;
    padding: 20px;
  }
  
  .badge {
    background-color: #f38b3b;
    color:#333;
    font-size: 19px;
    padding: 6px 12px;
    border-radius: 20px;
    display: inline-block;
    margin-left: -440px;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
  }
  
  .description {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
  }
  
  .stats {
    display: flex;
    gap: 20px;
    
  }
  
  .stat-item {
    width: 150px;
    text-align: center;
    background-color: #f89040;
    margin-left: 20px;
   
  }
  
  .stat-item h3 {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  
  .stat-item p {
    font-size: 14px;
    color:b;
  }
  
  .image-section {
    flex: 1;
    position: relative;
    
  }
  
  .gallery img
  {
    height: 400px;
    width: 500px;
  }
  
  .location-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .gallery {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .gallery-image {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }
  
  .gallery-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .gallery-info p {
    margin: 0;
    font-size: 14px;
    color: #333;
  }
  
  .gallery-info a {
    font-size: 12px;
    color: #f2a365;
    text-decoration: none;
  }
  
  .join-button {
    font-weight: bold;
  }