/*.Explore {
    margin-top: 15px;
    display: flex;
    /* align-items: center; */
     /* Center items vertically 
    padding: 50px;
    height: 700px; /* Set a height for the section 
    color: rgb(43, 38, 38); /* Change text color for visibility 
    background-color: antiquewhite;
}

/*.Explore-image {
    width: 500px; /* Set width for the image container 
    height: 400px; /* Maintain aspect ratio 
    background-image: url('https://img.freepik.com/free-photo/beautiful-girl-standing-boat-looking-mountains-ratchaprapha-dam-khao-sok-national-park-surat-thani-province-thailand_335224-849.jpg?t=st=1729188551~exp=1729192151~hmac=e23f19eea88dbb15a08355c235c3cbf5a0ed04d658501aaca7362450940b77b2&w=740'); /* Use relative path from public folder 
    background-size: cover; /* Cover the entire area 
   
     /* Center the image 
     margin-top: 135px;
}

.Explore-text {
    flex: 1; /* Take remaining space 
    padding-left: 20px; /* Add some spacing on the left 
    text-align: left; 
    padding-left: 50px;/* Align text to the left 
}*/
h1 {
    margin-top: 8px;
    font-size: 30px; /* Adjust size as needed */
    text-align: center;
}
p {
    margin-top: 20px;
    font-size: 15px; /* Adjust size as needed */
    font-weight: bold;
}


.Dynamic-sections {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 50px;
    background-color: #f9f9f9;
}

.section {
    margin: 20px; /* Add margin to create space between sections */
    padding: 10px; /* Optional: Add some padding inside each section */
    border: 1px solid #854444; /* Optional: Add a border for visual separation */
    border-radius: 8px; /* Optional: Round the corners */
    text-align: center; /* Center align text in the section */
}



.Services {
    margin-top: 15px;
    display: flex;
    /* align-items: center; */
     /* Center items vertically */
    padding: 20px;
    height: 600px; /* Set a height for the section */
    /* //rgb(255, 215, 0) */
    color: rgb(255, 127, 80); /* Change text color for visibility */
    font-style: italic;
    word-spacing: 5.2px;
 
}


.Services-text {
    flex: 1; /* Take remaining space */
    padding-left: 20px; /* Add some spacing on the left */
    text-align: left; 
    /* padding-left: 80px; */
    /* Align text to the left */
}
h2 {
    margin-top: 8px;
    font-size: 30px; /* Adjust size as needed */
    text-align: center;
    

   
}
p {
    margin-top: 20px;
    font-size: 15px; /* Adjust size as needed */
    color: black;
    font-weight: bold;
    
}