.home-container {
  padding: 50px;
}

.header {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  align-items: center;
  margin-bottom: 20px;
}

.header-text {
  margin-top: -80px;
  color: black;
  flex: 1; /* Allow the text to take available space */
}

.header-text h1 {
  font-size: 30px; /* Default font size */
  margin-right: 10px;
  font-style: italic;
  color: #db721b;
}

.header-text h2 {
  font-size: 28px; /* Default font size */
  margin-top: -40px;
  margin-right: 20px;
  margin-left: 30px;
  color: #db721b;
}

.tour-images {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Enable wrapping for smaller screens */
  gap: 7px;
  justify-content: center; /* Center images on smaller screens */
  margin-left: auto;
  margin-right: auto;
}

.tour-images img {
  border: 2px solid #db721b;
  border-radius: 25px;
  max-width: 100%;
  height: 390px;
  width: 210px;
}

.tour-images .img-2 {
  margin-top: 40px;
  height: 400px;
  width: 210px;
}

.tour-images video {
  width: 200px;
  height: 400px;
  border: 2px solid #db721b;
  border-radius: 25px;
  margin-top: 16px;
}

.fea-container {
  padding: 40px 20px;
  
  background-color: #f9f9f9; /* Optional background */
}

.fea {
  width: 100%; /* Allow full width */
  display: flex;
  justify-content: center; /* Center the container */
  padding: 20px 0;
}

.fea .tour_cards_container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: space-between; /* Space items evenly */
  gap: 20px;
}
.fea-title
{
  margin-top: -30px;
  font-size: 40px;
  margin-right: 70%;
}

.fea .tour-card {
  flex: 1 1 calc(25% - 20px); /* 4 cards per row with a gap */
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .tour-card {
    flex: 1 1 calc(33.333% - 20px); /* 3 cards per row */
  }
}

@media (max-width: 768px) {
  .tour-card {
    flex: 1 1 calc(50% - 20px); /* 2 cards per row */
  }
}

@media (max-width: 576px) {
  .tour-card {
    flex: 1 1 100%; /* 1 card per row */
  }
}


.fea .tour_img img {
  width: 100%; /* Ensure images fit their containers */
  height: auto;

}