.wrapper {


    width: 420px;
    height: auto; /* Adjust height automatically */
    background: rgb(128, 118, 78);
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
}

.form-box {

    
    width: 100%;
    padding: 40px;
    justify-content: center;
    align-items: center;
    background: rgb(212, 134, 17);
}

h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color: #fff;
}

.input-box .icon {
    position: absolute;
    margin-left: 280px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #030303;   
}

button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    color: #333;
    font-weight: 700;
    transition: background 0.3s;
}

button:hover {
    background: #f0f0f0;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #fff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}


