.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8F6FF; /* Light blue background */
    padding-bottom: 90px;
    border-radius: 10px;
  
    margin: 10px auto;
  }
  
  .head {
    margin-top: 2px;
    display: flex;
    align-items: center; /* Vertically centers the items */
    margin-bottom: 20px; /* Space below the header */
    width: 100%; /* Ensure it takes full width */
  }
  
  .picture {
    width: 300px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 130px; /* Space between heading and image */
  }
  
  .heading {
    font-size: 20px;
    font-weight: bold;
    margin-left: 450px; /* Remove margin for better alignment */
    text-align: left; /* Align text to the left */
  }
  
  
  
  .text {
    font-size: 14px;
    color: #666;
  
    margin-right: 400px;
    text-align: center;
    margin-top: -100px;
  }
 
  .formContainer {
    display: flex; /* Change to flex row */
    width: 40%;
    margin: 0 auto; /* Center the form container */
    padding-top: 0px;
    margin-right: 650px;
    height: 50px;
  }
  input {
    flex: 1;
    padding: px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    outline: none;
    width: 50px;
   
  }
  
  .B {
    padding:  10px;
    background-color: #FF7F00; /* Orange color for the button */
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-weight: bold;
    margin-left: 0px;
    width: 200px;
    box-sizing: 50px;
    height: 50px;
    
  }
  