/* Pagination Container */
.pagination {
  margin-top: 2rem;  /* Adds space between the images and pagination */
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  position: relative;  /* Ensure it stays within the content flow */
}

/* Pagination Button */
.pagination span {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #f8f9fa;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination span:hover {
  background-color: #007bff;
  color: #fff;
}

.pagination .active_page {
  background-color: #007bff;
  color: white;
  border: none;
}