.tour-page {
  text-align: center;
  margin-left: 20%;
}

.tour-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.tour-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
  width: 300px;
  text-align: left;
  position: relative;
}

.tour-image {
 
  width: 110%;
  height: 150px;
  object-fit: cover;
}

.tour-info {
  padding: 10px;
}

.tour-location {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

.tour-title {
  font-size: 70px;
  margin-bottom: 2px;
  font-weight: bold;
  color: white;
}

.tour-rating {
  font-size: 14px;
  margin-bottom: 2px;
  color: #ffcc00;
}

.tour-price {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.book-now-btn {
  background-color: orange;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.book-now-btn:hover {
  background-color: #e69500;
}
